# Firebase & sensitive files
*.json
*.key
.env
firebase-config.js
# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
foodenv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Streamlit config files
.streamlit/
